:root {
  /* Переменные основных цветов */
  --color-brand: #2264d1;
  --color-primary: #19191d;
  --color-secondary: ##b4b4bb;
  --color-third: #787885;
  --color-fourth: #5e6366;
  // --color-fifth: #bdbdbd;

  --color-star: #fb8200;

  --color-white: #ffffff;
  --color-black: #000000;
  // --color-white40: rgba(255, 255, 255, 0.4);

  --color-bg: #fafafa;

  /* Переменные цветов активности */
  --color-accent: #eef4ff;
  --color-links: #828282;

  /* Шрифты */
  --primary-font: 'Inter', sans-serif;
  // --secondary-font: 'Bebas Neue', cursive;

  /* ЭФФЕКТЫ */
  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);

  --color-current: currentColor;
}
