.container {
  padding-left: 25px;
  padding-right: 25px;

  margin-right: auto;
  margin-left: auto;

  @include mobile {
    max-width: 350px;
  }
  @include tablet {
    max-width: 767px;
  }

  @include desktop {
    max-width: 1132px;
  }
}
