.hero {
  padding-top: 65px;

  @include tablet {
    padding-top: 40px;
  }
}

.hero__title {
  margin-bottom: 23px;

  @include font(47, 58, 700, 0);
  text-align: left;

  @include tablet {
    margin-bottom: 0;
  }
}
.hero__text {
  margin-bottom: 37px;

  @include tablet {
    margin-bottom: 0;
  }
}

.hero__thumb {
  display: flex;
  justify-content: center;
}

.hero__image {
  display: block;
  width: 100%;
  height: auto;
}

.hero__language {
  display: none;

  @include tablet {
    display: flex;
    @include font(16, 20, 700, 0);
    transform-origin: bottom left;
    transform: rotateZ(-90deg) translateY(350%);
  }
}

.hero__wrapper {
  // display: block;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 50px;
  }
}
