.title {
  @include font(34, 42, 700, 0);
  text-align: left;
  text-transform: uppercase;

  color: var(--color-primary);

  &--underline {
    text-decoration: underline;
    color: var(--color-third);
  }


}
